@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: #020617; 
  color: #f8fafc;
  font-family: sans-serif;
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}